<section class="sort">
    <button class="btn default">Sort by due</button>
    <button class="btn default">Sort by created</button>
    <button class="btn default">Sort by priority</button>
    <button class="btn default">Show finished</button>
</section>


<main id="containerTasks">
<script id="task-list-template" type="text/x-handlebars-template">
    {{#each task}}
        <li class="liItem_{{@index}}">
            <div>
                <label for="checkBox"><input id="checkBox" type="checkbox"><span class="date">{{date}}</span> <span class="title">{{title}}</span>
                    <span class="description">{{description}}</span><button class="btn info" data-edit-btn-{{task.id}}>Edit</button></label>
            </div>
        </li>
    {{/each}}
</script>
</main>
